::after,
::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
}

.add-new-book{
    grid-area: 1 / 6 / 5 / 7;
    border: 1px solid green;
}

.add-new-book > label, .add-new-book > input {
    display: block;
}